<html>
    <head></head>
    <body>
        <h1>Encoder les données de la pièce</h1>
        <form action="/appartment" method="post">
            Pièce: <input type="text" name="name"><br>
            Largeur: <input type="number" name="room_width"><br>
            Longueur: <input type="number" name="room_length"><br>
            <button type="submit">Enregistrer</button>
        </form>
    </body>
</html>